@font-face {
  font-family: "helvetica-neue-bold";
  src: url("../../fonts/Helvetica\ Neu\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "circlular-std-book";
  src: url("../../fonts/CircularStd-Book.ttf") format("truetype");
}

@font-face {
  font-family: "circlular-std-bold";
  src: url("../../fonts/CircularStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: "sf-pro";
  src: url("../../fonts/SF-Pro-Text-Thin.otf") format("opentype");
}

nav {
  background-color: #58668b;
}

.navbar-link {
  font-family: "circlular-std-book" !important;
  font-style: normal;
  font-size: 20px;
  color: #ffffff !important;
}

.navbar-link:hover {
  font-family: "circlular-std-book" !important;
  font-style: normal;
  font-size: 20px;
  color: #ebf4f6 !important;
}

#logo {
  position: absolute;
  left: 2.99%;
  right: 93.75%;
  top: 17.14%;
  bottom: 17.14%;

  border: 4px solid #58668b;
  box-sizing: border-box;

  font-family: "circlular-std-bold" !important;
  font-style: normal;
  font-size: 50px;
  line-height: 51px;
  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #58668b;
}
