#handles {
  text-align: center;
  height: 70px;
  background-color: #cdcdcd;
}
.social {
  font-size: 40px;
  padding: 5px;
}

.row {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
