#handles {
  text-align: center;
  height: 70px;
  background-color: #76b4bd;
}

.social-media-bar {
  width: 40%;
  padding: 1% 0;
}

.icon-center {
  vertical-align: middle;
}

.handle-icon {
  width: 3%;
  padding-top: 3%;
}
