@font-face {
  font-family: "helvetica-neue-bold";
  src: url("../fonts/Helvetica\ Neu\ Bold.ttf") format("truetype");
}

.profile-pic-1 {
  max-height: 700px;
  padding-top: 60px;
}

.off-white-thomas {
  max-width: 650px;
  padding-top: 160px;
}

#main-page {
  background-color: "white";
  height: 100vh;
}

.section-title {
  font-family: "helvetica-neue-bold";
  font-size: 35px;
  font-weight: 400;
  padding-top: 70px;
  padding-bottom: 70px;
}

#about-brief {
  font-family: "helvetica-neue-bold";
  font-size: 20px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  height: 400px;
  overflow: hidden;
}

#projects-brief {
  font-family: "helvetica-neue-bold";
  font-size: 20px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  height: 200vh;
  overflow: hidden;
}

#contact-info {
  font-family: "helvetica-neue-bold";
  font-size: 20px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  height: 400px;
  overflow: hidden;
}

.row {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
