@font-face {
  font-family: "sf-pro";
  src: url("../../fonts/SF-Pro-Text-Thin.otf") format("opentype");
}

#main-page-photo {
  height: 600px;
  background-image: url("../../Images/photography/20190908-DSC_0044.jpg");
  background-size: 1500px;
  background-position-y: -200px;
}

#short-page {
  height: 100%;
}

.slides {
  height: 100%;
  background-color: #e1e1e1;
  padding-bottom: 50px;
}

.photos-page {
  height: 100%;
  background-color: #fafafa;
}

.slide-container {
  width: 70%;
  margin: auto;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: auto;
}

.header-text {
  font-family: "sf-pro";
  font-size: 50px;
}

#main-text {
  font-family: "sf-pro";
  font-size: 80px;
  color: #ffffff;
}

.text {
  font-family: "sf-pro";
  font-size: 30px;
  color: #ffffff;
}

.text-body {
  font-family: "sf-pro";
  font-size: 20px;
  color: #000000;
}

.text-box {
  margin: auto;
  padding-top: 60px;
  width: 1000px;
  height: 100%;
}

.text-box-main {
  margin: auto;
  padding-top: 15%;
  width: 1000px;
  height: 100%;
}

.row {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.rectangle-thin {
  height: 5px;
  width: 1000px;
  background-color: #000000;
  margin-left: -0px;
}

.photos-img {
  max-width: 850px;
  padding-top: 40px;
}

.photos-profile-img {
  max-width: 400px;
}
