@font-face {
  font-family: "sf-pro";
  src: url("../../fonts/SF-Pro-Text-Thin.otf") format("opentype");
}

#main-page {
  height: 600px;
}

#short-page {
  height: 600px;
}

#photos-page {
  height: 600px;
}

#main-text {
  font-family: "sf-pro";
  font-size: 80px;
  color: black;
}

.text {
  font-family: "sf-pro";
  font-size: 30px;
  color: black;
}

.text-box {
  margin: auto;
  padding-top: 160px;
  width: 1000px;
}

.row {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
