@font-face {
  font-family: "helvetica-neue-bold";
  src: url("../../fonts/Helvetica\ Neu\ Bold.ttf") format("truetype");
}

#projects-page {
  /* height: 1000px; */
  height: 2200px;
}

#projects-title {
  font-family: "helvetica-neue-bold";
  font-size: 45px;
  padding-top: 40px;
}

.Modal-Font {
  font-family: "helvetica-neue-bold";
}

p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
}

.projects-text-box {
  margin: auto;
  width: 1200px;
  font-family: "helvetica-neue-bold";
}

.rectangle-projects {
  height: 5px;
  width: 500px;
  background-color: #000000;
  margin-top: 20px;
  margin-bottom: 40px;
}

.rect-button {
  height: 75px;
  width: 350px;
  background-color: #000000;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  line-height: 75px;
  border-radius: 0 !important;
}

.rect-modal-button {
  height: 40px;
  width: 70px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  font-family: "helvetica-neue-bold";
  border-radius: 0 !important;
}

.square {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0 !important;
  font-size: 20px;
}

.square2 {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0 !important;
  font-size: 20px;
}

.p-big {
  font-size: 38px;
}

.p-med {
  font-size: 30px;
}

.p-small {
  font-size: 18px;
}

.whitespace-small {
  margin-bottom: 10px;
}

.whitespace {
  margin-bottom: 40px;
}

.whitespace-big {
  margin-bottom: 180px;
}

.offset-left {
  padding-left: 15px;
}

.text-white {
  color: #ffffff;
}

.proj-img {
  max-width: 650px;
}

.row {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
