@font-face {
  font-family: "circular-std-book";
  src: url("../../fonts/CircularStd-Book.ttf") format("truetype");
}

@font-face {
  font-family: "circular-std-med";
  src: url("../../fonts/CircularStd-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "circular-std-bold";
  src: url("../../fonts/CircularStd-Bold.otf") format("opentype");
}

#projects-title {
  height: 50%;
  padding-top: 8%;
  padding-bottom: 15%;
  font-family: "circular-std-bold";
  font-size: 70px;
  color: #ffffff;
  background-color: #58668b;
}

#projects-main {
  padding-top: 3%;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 3%;
}

.project-content {
  padding-top: 3%;
}

.projects-box {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.spacing-default {
  margin-top: 1%;
  margin-bottom: 1%;
}

.proj-title {
  font-family: "circular-std-bold";
  font-size: 50px;
  color: #58668b;
}

.proj-date {
  font-family: "circular-std-bold";
  font-size: 30px;
  color: #76b4bd;
}

.proj-brief {
  font-family: "circular-std-book";
  font-size: 17px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 1%;
  margin-bottom: 10%;
  text-align: center;
}

.btn-dark {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background: #76b4bd !important;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
  padding: 2% 0;
}

.btn-dark-txt {
  font-family: "circular-std-bold";
  font-size: 18px;
  color: #ffffff;
}

.btn-light {
  width: 200px;
  height: 50px;
  border: 4px solid #76b4bd !important;
  background-color: #ffffff !important;
  box-sizing: border-box;
  border-radius: 50px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
  font-family: "circular-std-bold";
  font-size: 15px;
}

.btn-link {
  color: #76b4bd !important;
}

.btn-link:hover {
  color: #000000 !important;
}

.modal-title {
  font-family: "circular-std-med";
  font-size: 35px;
  color: #58668b;
}

.modal-body {
  font-family: "circular-std-med";
  color: #58668b;
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 2%;
}

.modal-btn {
  font-family: "circular-std-med";
}

.tools-img {
  width: 10%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.proj-img {
  max-width: 650px;
  padding-top: 40px;
}
