@font-face {
  font-family: "circular-stf";
  src: url("../../fonts/CircularStd-Bold.otf") format("opentype");
}

.background1 {
  background-color: #181830;
}

.background2 {
  background-color: #363a46;
}

.background3 {
  background-color: #001540;
}
#main-text-repairs {
  font-size: 75px;
  color: #ffffff;
  font-family: "circular-stf";
}

#first-page {
  height: 100%;
  line-height: 100px;
}

#main-pic {
  max-width: 85%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#summary {
  height: 100%;
}

#parts-list {
  height: 100%;
}

.first-page-space {
  padding-top: 40px;
  padding-bottom: 70px;
}

.text-repairs {
  font-size: 30px;
  color: #ffffff;
  font-family: "circular-stf";
}

.text-box {
  margin: auto;
  width: 1100px;
  padding-top: 150px;
  padding-bottom: 50px;
}

.row {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
