@font-face {
  font-family: "helvetica-neue-bold";
  src: url("../fonts/Helvetica\ Neu\ Bold.ttf") format("truetype");
}

nav {
  background-color: #000000;
  font-family: "helvetica-neue-bold";
  font-weight: normal;
  font-style: normal;
}
